
.center-content{
  display: flex;
  justify-content: center;
}

.login{
  position: absolute;
  top: 30%; /* Ajuste o valor conforme necessário para posicionar a .login onde deseja */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 455px;
  height: 420px;
  background-color: #181C1F;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0px rgba(#00000080);
}
.login form {
  display: flex;
  flex-direction: column;
}
.login input {
  margin-top: 10px;
}

.caixa{
  width: 100%;
  color: #FFFFFF  ;
  height: 30px;
  background-color: #181B20;
  margin-top: 10px;
  border: none;
  border: 1px solid #34373a;
  margin-bottom: 10px;

}


.submit {
  background-color: #00C600;
  color: #000000; /* Adicione esta linha para definir a cor do texto para preto */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 40px;
  cursor: pointer;
}


.submit:active{
  background-color: #0D51FC;
}
input::placeholder{
  color: #ffffff85;
}
p{
  color: #FFFFFF;
  font-size: 15px;
}

.menu {
  display: flex;
  flex-direction: column;

  margin-top: 40px;
  margin-bottom: 40px;

}
