<div class="login__container">
  <div class="menu">
  <app-icon> </app-icon>
  </div>
  <div class="center-content">

    <div class="login">
      <div>
        <img src="../../../../assets/logo.png" alt="" srcset="">
      </div>


      <form method="post">
        <p class="p1">Por favor, faça login na sua conta</p>
          <input class="caixa" type="email" name="nome" placeholder="email do usuario" autocomplete="off">
          <input class="caixa" type="password" name="senha" placeholder="sua senha" autocomplete="off">
          <input class="submit" type="submit" value="entrar">
      </form>
      <p class="created">Nao tem contra criada? <a href="#!">Crie sua conta</a></p>
    </div>
</div>





