[class^="number-slide"],
[class*=" number-slide"] {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 5000;
  height: 600px;
  max-height: 100vh;
}


.keen-slider{
  display: flex;
  flex-direction: row;
  position: relative;
}
.overlay{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

/* No CSS do componente big-card (big-card.component.css) */
.number-slide1 img,
.number-slide2 img,
.number-slide3 img,
.number-slide4 img {
  width: 100%;
  height: 100%; /* Ajuste para cobrir totalmente a altura da viewport */
  object-fit: cover; /* Garante que a imagem cubra completamente o contêiner */
  border-radius: 10px;
}

.overlay h1 {
  font-size: 3.5rem; /* Ajuste o tamanho do título conforme necessário */
  margin-bottom: 0.5rem; /* Adicione margem inferior para separação */
}

.overlay p {
  font-size: 1rem; /* Ajuste o tamanho do parágrafo conforme necessário */
  margin-top: 0; /* Remova a margem superior padrão para melhor alinhamento */

}
.number-slide1::before,
.number-slide2::before,
.number-slide3::before,
.number-slide4::before {
content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade para controlar o escurecimento */
  border-radius: 10px;
  z-index: 1; /* Coloca a sobreposição escura abaixo da sobreposição de texto */
}
