<div class="container__big-card">
  <div class="big-card__template">
  <div class="big-card__content">
  <div class="big-card__block">
    <div class="block__new">
      <p>new</p>
    </div>
    <div class="block-description">
      <p> high intensity workout to burn  calories</p>
    </div>
  </div>
  <div class="big-card__title">
    <h2>Cardio Exercise</h2>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis hic placeat quia quisquam nam, optio recusandae, at modi eaque et facilis sunt nobis? Temporibus saepe hic excepturi aut unde laboriosam?</p>
  </div>
</div>
<div class="big-card__outdoor">
<div class="outdoor__imagem">
  <img src="../../assets/mulher-pixel - Copy.png" alt="">
</div>
<div class="outdoor__blocks">
<div class="block__one">
  <h3> 38:14 </h3>
  <p>TIME</p>
</div>
<div class="block__two">
  <h3>165 </h3>
  <p>EST CALORIES</p>
</div>
</div>
</div>

</div>
  <div class="big-card__button">
    <div class="button__green">

      <a href="#">Get Started</a>

    </div>
    <div  class="button__black">
      <a href="#">Preview</a>

    </div>
  </div>

</div>
