<div class="keen-slider" #sliderRef>
  <div class="keen-slider__slide" *ngFor="let content of slideContent">
    <div *ngIf="content.type === 'cardio'" class="number-slide1">
      <img [src]="content.photoCover" alt="">
      <div class="overlay">
        <h1>{{ content.contentTitle }}</h1>
        <p>{{ content.contentDescription }}</p>
      </div>
    </div>
    <div *ngIf="content.type === 'musculacao-feminina'" class="number-slide2">
      <img [src]="content.photoCover" alt="">
      <div class="overlay">
        <h1>{{ content.contentTitle }}</h1>
        <p>{{ content.contentDescription }}</p>
      </div>
    </div>
    <div *ngIf="content.type === 'musculacao-masculina'" class="number-slide3">
      <img [src]="content.photoCover" alt="">
      <div class="overlay">
        <h1>{{ content.contentTitle }}</h1>
        <p>{{ content.contentDescription }}</p>
      </div>
    </div>
  </div>
</div>
