.menu {


  margin-top: 40px;
  margin-bottom: 40px;

}
footer{
  color: white;
  background-color: #272727;
 display: flex;
 justify-content: center;
 border-radius:  8px 8px 0px 0px;
 width: 100%;
 padding-top: 5px;
}

