<div class="small-card__container">
<div class="small-card__title">
  <h2>Popular Exercises</h2>
</div>
<div class="keen-slider" #sliderRef>
  <div class="keen-slider__slide number-slide1">

    <img src="../../assets/bloco1.jpeg" alt="">
    <h3>Morning Yoga</h3>
    <p>15 mins . 145 est calories</p>
  </div>

  <div class="keen-slider__slide number-slide2">
    <img src="../../assets/bloco2.jpeg" alt="">
     <h3>Push up Session</h3>
     <p>15 mins . 98 est calories</p>
  </div>

  <div class="keen-slider__slide number-slide3">
    <img src="../../assets/bloco3.jpeg" alt="">
     <h3>Lifting Weight</h3>
     <p>30 mins . 220 est calories</p>
  </div>

  <div class="keen-slider__slide number-slide4">
    <img src="../../assets/bloco4.jpeg" alt="">
     <h3>Stretching Session</h3>
     <p>15 mins . 35 est calories</p>
  </div>


  <div class="keen-slider__slide number-slide5">
    <img src="../../assets/bloco5.jpeg" alt="">
     <h3>Treadmill Workout</h3>
     <p>60 mins . 250 est calories</p>
  </div>
  <div class="keen-slider__slide number-slide6">
    <img src="../../assets/bloco6.jpeg" alt="">
         <h3>
          crossfit exercises</h3>
         <p>60 mins . 235 est calories</p>
  </div>
</div>
</div>
