<div class="small-card__container">
  <div class="small-card__title">
    <h2>Popular Exercises</h2>
  </div>
  <div class="keen-slider" #sliderRef>
    <div class="keen-slider__slide" *ngFor="let content of slideContent">



      <div *ngIf="content.type === 'yoga'" class="number-slide1">
        <img [src]="content.photo" alt="">
        <h3>{{ content.title }}</h3>
        <p>{{ content.description }}</p>
      </div>

      <div *ngIf="content.type === 'Push'" class="number-slide2">
        <img [src]="content.photo" alt="">
        <h3>{{ content.title }}</h3>
        <p>{{ content.description }}</p>
      </div>

      <div *ngIf="content.type === 'stretching'" class=" number-slide3">
        <img [src]="content.photo" alt="">
        <h3>{{ content.title }}</h3>
        <p>{{ content.description }}</p>
      </div>

      <div *ngIf="content.type === 'weight'" class=" number-slide4">
        <img [src]="content.photo" alt="">
        <h3>{{ content.title }}</h3>
        <p>{{ content.description }}</p>
      </div>

      <div *ngIf="content.type === 'treadmill'" class=" number-slide5">
        <img [src]="content.photo" alt="">
        <h3>{{ content.title }}</h3>
        <p>{{ content.description }}</p>
      </div>

      <div *ngIf="content.type === 'crossfit'" class=" number-slide6">
        <img [src]="content.photo" alt="">
        <h3>{{ content.title }}</h3>
        <p>{{ content.description }}</p>
      </div>

      <div *ngIf="content.type === 'backday'" class=" number-slide7">
        <img [src]="content.photo" alt="">
        <h3>{{ content.title }}</h3>
        <p>{{ content.description }}</p>
      </div>
    </div>
  </div>
</div>
